binary/
cgen/
config/prada_cm11/
config/prada_row_cm11/
config/prada_ru/
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly+flicker/nt35590_hd720_dsi_vdo_truly.c.bak
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly+flicker/nt35590_hd720_dsi_vdo_truly.c.sysfs
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly+flicker/nt35590_hd720_dsi_vdo_truly.cf
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly+prada/nt35590_hd720_dsi_vdo_truly.cp
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly+prada/nt35590_hd720_dsi_vdo_truly_stocklcm.c
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly.c-
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly/ida.txt
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly/ida.txt~
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly/n
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly/prada_row_kernel.log
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly/prada_row_lk.log
custom/prada/kernel/lcm/nt35590_hd720_dsi_vdo_truly/s
custom/prada_cm11
custom/prada_row_cm11
custom/prada_ru
device/
external/
factory/
frameworks-ext/
frameworks/
hardware/
kernel/include/linux/hwmsensor.h.xolo
misc/
packages/
tablet/
